.section {
  padding: 120px 0;

  &.section--gray {
    background: #F9F9F9;
  }

  &.section--dark {
    background: #5E6977;
    padding-top: 240px;

    @media screen and (max-width: 800px) {
      padding-top: 50px;
    }

    h1, h2 {
      color: #ffffff;
    }

    h2 {
      opacity: .8;
    }
  }

  &.section--carousel {
    padding: 0;

    p {
      max-width: 350px;
      font-size: 16px;
      color: #86939E;
    }
  }

  @media screen and (max-width: 800px) {
    padding: 50px 0 30px;
  }
}

.section__title {
  font-size: 52px;
  font-weight: 300;
  margin: auto;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;

  @media screen and (max-width: 800px) {
    font-size: 35px;
    margin-bottom: 10px;
  }
}

.section__subtitle {
  font-size: 22px;
  font-weight: 300;
  max-width: 656px;
  margin: auto;
  text-align: center;
  line-height: 1.4;

  @media screen and (max-width: 800px) {
    font-size: 18px;
  }
}

.text--bold {
  color: #43484D;
}

.text--default {
  color: #5E6977;
}

.text--alt {
  color: #ffffff;
}

.hero {
  padding: 60px 0;

  @media screen and (max-width: 800px) {
    padding: 30px 0 0 ;
  }
}

.selling-point {
  padding-right: 6%;
}

.selling-point__title {
  font-size: 18px;
  padding-left: 83px;
  display: block;
  margin-bottom: .5em;

  @media screen and (max-width: 800px) {
    margin-bottom: 0;
  }
}

.selling-point__description {
  font-size: 16px;
  line-height: 1.5;
  padding-left: 83px;
  display: block;
}

.carousel__slide {
  padding-bottom: 300px !important;
}

.link--carousel {
  font-size: 16px;
  color: #358ED7;
  text-decoration: none;
}

.carousel__dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 500px;
  margin-right: 5px;
  background: #ebebeb;
  border: 0;
  display: inline-block;
  vertical-align: middle;
}

.carousel__dot--selected {
  background: #358ED7;
  border: 0;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 800px) {
  .carousel {
    width: 90%;
    margin: auto;
  }
}